{% extends "authentication.html" %}

{% block title %}
    Apology
{% endblock %}

{% block body %}
    <!-- https://memegen.link/ -->
    <img alt="{{ top }}" class="border img-fluid" src="https://api.memegen.link/images/cake/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?width=555" title="{{ top }}">
    <style>
        /* CSS to increase button size */
        .large-button {
            width: 200px; /* Adjust as needed */
            height: 50px; /* Adjust as needed */
            font-size: 16px; /* Adjust font size if needed */
        }
    </style>
    <div>
        <button onclick="goBack()">Go Back</button>
    </div>
    <script>
        function goBack() {
            // Go back to the previous page
            window.history.back();
        }
    </script>
{% endblock %}