{% extends "authentication.html" %}

{% block title %}
    Change password
{% endblock %}

{% block body %}

    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" id="password" name="old_password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input id="password" name="new_password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input id="password" name="confirmation" placeholder="Confirm new password" type="password">
        </div>
        <input type="checkbox" onclick="togglePassword()">Show Password
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}