<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    </head>
    <body>

        <div class="navbar">
            <div class="navbar-container">
                <div class="logo-container">
                    <a href="/"><h1 class="logo">filmlist</h1></a>
                </div>
                <div class="menu-container">
                    <ul class="menu-list">
                        <li class="menu-list-item"><a class="navbar-item" href="/">Home</a></li>
                        <li class="menu-list-item"><a class="navbar-item" href="/movie_list">Lists</a></li>
                        <li class="menu-list-item"><a class="navbar-item" href="/find_movie">Search</a></li>
                        <li class="menu-list-item"><a class="navbar-item" href="/profile">Profile</a></li>
                        <li class="menu-list-item"><a class="navbar-item" href="/upgrade">Upgrade</a></li>
                        <li class="menu-list-item"><a class="navbar-item" href="/logout">Log out</a></li>
                    </ul>
                </div>
                <div class="profile-container">
                    <div class="profile-text-container">
                        <span class="profile-text">{{ session['username'] }}</span>
                    </div>
                    <div class="toggle">
                        <i class="fas fa-moon toggle-icon"></i>
                        <i class="fas fa-sun toggle-icon"></i>
                        <div class="toggle-ball"></div>
                    </div>
                </div>
            </div>
        </div>
        
        {% block body %}{% endblock %}
        <script src="static/js/app.js"></script>
    </body>
</html>