<body>
    <body>
        <div class="app">
            <div class="navbar">
                <div class="navbar-container">
                    <div class="logo-film">
                    </div>
                    <div class="logo-container">
                        <h1 class="logo">Filmlist</h1>
                    </div>
                    <div class="menu-container">
                        <ul class="menu-list">
                            <li class="menu-list-item main">Home</li>
                            <li class="menu-list-item">Lists</li>
                            <li class="menu-list-item">Search</li>
                            <li class="menu-list-item">Profile</li>
                            <li class="menu-list-item">Log out</li>
                        </ul>
                    </div>
                    <div class="profile-container">DUC</div>
                </div>
            </div>
            <div class="img-container">
                <div class="content-container">
                    <div class="featured-content-movie" style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('https://image.tmdb.org/t/p/original/1pdfLvkbY9ohJlCjQH2CZjjYVvJ.jpg');">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="movie-container">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-2 col2">
                        <div class="category">
                            <img src="https://image.tmdb.org/t/p/original/1pdfLvkbY9ohJlCjQH2CZjjYVvJ.jpg" alt="" class="category-movie-img">
                        </div>
                        <div class="download-img-button">
                            <a href="/Screenshot 2024-05-15 221756.png" download class="download-btn">
                                Download
                                <i class="fa fa-download"></i>
                            </a>
                        </div>

                        <ul class="category-film">
                            <li class="movie-icon-show">
                                <a href="" class="movie-icon-link">
                                    <i class="fa-solid fa-eye category-film-icon "></i>
                                </a>
                            </li>
                            
                            <li class="movie-icon-show">
                                <a href="" class="movie-icon-link">
                                    <i class="fa-solid fa-heart category-film-icon" ></i>
                                </a>
                            </li>

                            <li class="movie-icon-show">
                                <div class="dropdown">
                                    <button class="dropbtn"><i class="fa-solid fa-plus category-film-icon"></i></button>
                                    <div class="dropdown-content">
                                      <a href="#" class="dropdown-content-link">Link 1</a>
                                      <a href="#" class="dropdown-content-link">Link 2</a>
                                      <a href="#" class="dropdown-content-link">Link 3</a>
                                    </div>
                                </div>
                            </li>
                        </ul>


                        <div class="watch-panel-container">
                            <div class="watch-panel">
                                <div class="header1">
                                    <h3 class="title">WHERE TO WATCH</h3>
                                </div>
                                <div class="header2">
                                    <a href="" class="watch-panel-link">
                                        <i class="fa-brands fa-amazon"></i>
                                        <h3 class="title">Where to watch</h3>
                                    </a>
                                </div>
                                <div class="header3">
                                    <a href="" class="watch-panel-see-more">
                                        <i class="fa-solid fa-film"></i>
                                        <h3 class="title">NETFLIX</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="grid__column-10">        
                        <h1 class="movie-name">
                            CHALENGER
                        </h1>
                        <div class="movie-desc">
                            <p class="movie-title">
                                HER GAME. HER RULES.
                            </p>
                            <p class="desc">
                                Tennis player turned coach Tashi has taken her husband, Art, and transformed him into a world-famous Grand Slam champion. To jolt him out of his recent losing streak, she signs him up for a “Challenger” event — close to the lowest level of pro tournament — where he finds himself standing across the net from his former best friend and Tashi’s former boyfriend.
                            </p>
    
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </body>

</body>