<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <title>Profile</title>
</head>
<body>
    <div class="app">
        <div class="navbar">
            <div class="navbar-container">
                <div class="logo-film">
                </div>
                <div class="logo-container">
                    <h1 class="logo">Filmlist</h1>
                </div>
                <div class="menu-container">
                    <ul class="menu-list">
                        <li class="menu-list-item main">Home</li>
                        <li class="menu-list-item">Lists</li>
                        <li class="menu-list-item">Search</li>
                        <li class="menu-list-item">Profile</li>
                        <li class="menu-list-item">Log out</li>
                    </ul>
                </div>
                <div class="profile-container">DUC</div>
            </div>
        </div>

        <div class="person-profile-container">
            <div class="person-profile-content">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="image-content">
                            <span class="overplay"></span>
                            <div class="card-image">
                                <i class="fa-solid fa-film icon-profile"></i>
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">DUC</h2>
                            <ul class="description">
                                <li class="user-name">Username: duc1708</li>
                                <li class="user-status">User status: free</li>
                                <li class="member">Member since: 2024-05-14
                                </li>
                            </ul>

                            <button class="profile-button">Change your password</button>
                            <button class="profile-button">Upgrade</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

</body>
</html>