<body>
    <div class="app">
        <div class="navbar">
            <div class="navbar-container">
                <div class="logo-film">
                </div>
                <div class="logo-container">
                    <h1 class="logo">Filmlist</h1>
                </div>
                <div class="menu-container">
                    <ul class="menu-list">
                        <li class="menu-list-item main">Home</li>
                        <li class="menu-list-item">Lists</li>
                        <li class="menu-list-item">Search</li>
                        <li class="menu-list-item">Profile</li>
                        <li class="menu-list-item">Log out</li>
                    </ul>
                </div>
                <div class="profile-container">DUC</div>
            </div>
        </div>

        <div class="search">
            <input placeholder="Name of your movie" type="text">
            <button type="submit">Find your movie</button>
        </div>   
          
    </div>
</body>
